<div class="container-xxl mt-5 mx-5">
  <table class="table">
    <thead>
      <tr>
        <td><h2 class="ml-5">投稿一覧</h2></td>
          <!--検索フォーム-->
        <td>
          <%= search_form_for @q do |f| %>
          <!--name_contは、あいまい検索を指定-->
            <%= f.text_field :title_or_body_cont %>
            <%= f.submit "検索" %>
          <% end %>
        </td>
      </tr>
    </thead>
  </table>
    <!--検索結果-->
  <table class="table">
    <tbody>
      <div class="ml-5">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>投稿者</th>
              <th>タイトル</th>
            </tr>
          </thead>
        <% if params[:q].nil? %>
          <% @postall.each do |post| %>
              <tbody>
                <tr>
                  <td scope="row">
                    <%= image_tag post.user.get_profile_image(50,50) %>
                  </td>
                  <td>
                    <%= post.user.name %>
                  </td>
                  <td>
                    <%= link_to post_path(post) do %>
                      <%= post.title %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
          <% end %>
            </table>
        <% elsif !@posts.present? && !params[:q].empty? %>
          <p>検索結果はありません</p>
        <% else @posts.present? %>
          <% @posts.each do |post| %>
            <tbody>
              <tr>
                <td scope="row">
                  <%= image_tag post.user.get_profile_image(50,50) %>
                </td>
                <td>
                  <%= post.user.name %>
                </td>
                <td>
                  <%= link_to post_path(post) do %>
                    <%= post.title %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </div>
    </tbody>
  </table>
</div>