<div class="post-form">
  <h2 class="mt-5 pb-5">新規投稿</h2>
  <%= form_with model: @post do |f| %>
    <%= f.label :投稿画像 %>
    <%= f.file_field :image, accept: "image/*" %><br><br>
    <%= f.label :投稿動画 %>
    <%= f.file_field :video %><br><br>
    タイトル
    <%= f.text_field :title,class: "form-control", placeholder: "タイトル" %><br><br>
    文章
    <%= f.text_area :body,class: "form-control", placeholder: "文章" %><br><br>
    <%= f.submit "新規投稿", class: "btn btn-success" %>
  <% end %>
</div>