<div class="container-xxl mt-5 mx-5">
  <table class="table">
    <thead>
      <tr>
        <td><h2 class="ml-5">新規投稿</h2></td>
      </tr>
    </thead>
  <%= form_with model: @post do |f| %>
    <div class="d-flex justify-content-center">
      <tbody>
        <tr>
          <th><%= f.label :投稿画像 %></th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th><%= f.label :投稿動画 %></th>
          <td><%= f.file_field :video %></td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= f.text_field :title,class: "form-control", placeholder: "タイトル" %></td>
        </tr>
        <tr>
          <th>文章</th>
          <td><%= f.text_area :body,class: "form-control", placeholder: "文章" %></td>
        </tr>
        <tr>
          <td class="d-flex justify-content-center"><%= f.submit "新規投稿", class: "btn btn-success" %></td>
        </tr>
      <% end %>
      </tbody>
    </div></.div>
  </table>
</div>