<% if @post.video.attached? %>
  <%= link_to user_path(@post.user_id) do %>
    <%= @post.user.name %>
  <% end %><br>
  <%= @post.title %><br>
  <%= @post.body %><br>
  <video src="<%= rails_blob_path(@post.video) %>" type="video/mp4" controls></video>
  <div id="favorite_buttons_<%= @post.id %>">
  <%= render "public/favorites/favorite" , post: @post %>
  </div>
<% else @post.image.attached? %>
  <%= link_to user_path(@post.user_id) do %>
    <%= @post.user.name %>
    <% end %><br>
  <%= @post.title %><br>
  <%= @post.body %><br>
  <%= image_tag @post.get_file(500,500) %>
  <div id="favorite_buttons_<%= @post.id %>">
  <%= render "public/favorites/favorite" , post: @post %>
  </div>
<% end %>

<% if @post.user == current_user %>
  <%= link_to "削除", post_path(@post), method: :delete %>
<% end %>

コメント件数:<%= @post.post_comments.count %>
<% @post.post_comments.each do |post_comment| %>
  <%= image_tag post_comment.user.get_profile_image(50,50) %>
  <%= post_comment.user.name %>
  <%= post_comment.comment %>
  <% if post_comment.user == current_user %>
    <%= link_to "削除" , post_post_comment_path(post_comment.post, post_comment), method: :delete  %>
  <% end %>
<% end %>

<% if @post_comment.errors.any? %>
  <ul>
    <% @post_comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [@post, @post_comment]  do |f| %>
  <%= f.text_area :comment , placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>