<div class="container-xxl mt-5 mx-5">
  <h2 class="ml-5">マイページ</h2>
  <div class="row">
    <div class="col-3 ml-5 mt-5">
      <%= image_tag @user.get_profile_image(500,200) %><br>
      <h5 class="mt-1">
        <%= @user.name %>
      </h5><br>
      フォロー数: <%= link_to user_followings_path(@user) do %>
        <%= @user.followings.count %>
        <% end %>
      フォロワー数: <%= link_to user_followers_path(@user) do %>
        <%= @user.followers.count %>
        <% end %><br>
      
        <%= link_to "いいね一覧", favorites_user_path(@user), class: "btn-sm btn-primary" %>
      <% if current_user == @user && @user.name != "ゲストユーザー" %>
        <%= link_to "通知一覧", notifications_path, class: "btn-sm btn-primary" %><br>
      <% end %>
        <% if current_user == @user && @user.name != "ゲストユーザー" %>
          <%= link_to "新規投稿", new_post_path, class: "btn-sm btn-info" %>
          <%= link_to "編集する", edit_user_path, class: "btn-sm btn-info" %>
          <%= link_to "退会する", unsubscribe_path, class: "btn-sm btn-warning"  %><br>
        <% end %>
    </div>
    <div class="col-2 mt-5">
       <%= @user.introduction %>
    </div>
    <div class="col-6">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>タイトル</th>
            <th>投稿文</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
          <tbody>
            <tr class="table-light">
              <th scope="row"><%= post.id %></th>
              <td>
                <%= link_to post_path(post.id) do %>
                  <%= post.title %>
                <% end %>
              </td>
              <td><%= post.body %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>










